option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: eventmanagementwebapp.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: eventmanagementwebapp.settings
    PYTHONPATH: /var/app/current
    DEBUG: 'true'
    ALLOWED_HOSTS: .elasticbeanstalk.com,127.0.0.1,localhost
    SECRET_KEY: replace_this_with_a_random_key

commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
